/*
https://www.w3schools.com/cssref/playit.asp?filename=playcss_justify-content&preval=flex-start
https://www.w3schools.com/cssref/css3_pr_align-items.asp
https://www.w3schools.com/cssref/css3_pr_flex-direction.asp
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/*Resetando os estilos para evitar conflito*/

body{
    width: 100%;
    min-height: 625px; /* altura mínima */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* jogar conteúdo no centro */
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 625px;
}
/* deixa o celular e login no meio da tela */
/* display flex = conteiner que todos os itens dentro dele ficaram em linha ocupando o maior espaço; alinhar tudo em linha ocupando o espaço que eles necessitam dentro do conteiner */
/* align-items center = alinhamento vertical vai ficar no centro */
/* justify-content start = alinhamento honrizontal vai ficar no centro * - start = começar da esquerda pra direita */

.instagram-cel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
    /* 50% pq é metade da tela */
}

.instagram-cel img{
    height: 625px;
}
/* FIM CONTEINER esquerda */

.instagram-continue{
    display: flex;
    align-items: center; /* agr está na horizontal*/
    justify-content: space-around; /* agr está na vertical */
    flex-direction: column; /* inverte o eixo, inverteu align-items e justify-content */
    width: 50%;
    /* 50% pq é metade da tela */
    min-height: 100px; /* diferente da vídeo-aula */
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 20.8px 0;
    border: 1px solid lightgray;
    margin: 5px;
}

.group:nth-child(1) {
    min-height: 280px; /* diferente da vídeo-aula */
}

.instagram-logo {
    height: 40px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.profile-photo img{
    height: 92px;
    border-radius: 50%;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagrarm-logout {
    color: #0095f6;
    margin-top: 16px;
}

.not-account {
    color: #a0a0a0
}

.link-blue {
    color: #0095f6
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20.8px 0;
}

.download {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    display: flex;
    background-image: url('./img/apple-button.png')
}

.app-download:nth-child(2) {
    display: flex;
    background-image: url('./img/googleplay-button.png')
}
/* FIM CONTEINER direita */

/*media queries*/

/* quando tiver até 1024px */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width: 650px) {
    body {
        background-color: #ffffff
    }

    .group {
        border: 0;
    }
    
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-cel {
        display: none;
        /*Não precisa aparecer quando está no celular*/
    }
    .instagram-continue {
        width: 100%
    }
}